@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-image: url("../img/176123.jpg");
    background-size: cover;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #c1422c;
}

a {
    text-decoration: none;
}

div#container {
    width: 1300px;
    height: auto;
    margin: auto;
}

header {
    height: 15px;
    padding: 30px 0 0;
    padding-bottom: 30px;
    background: linear-gradient(to left,#f0443a,#f1563a,#f4663e,#fc7a45);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

header ul li {
    float: left;
    border-radius: 3px;
}

header ul li a {
    display: block;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    text-decoration: none;
    color: #0086ff;
}

header ul li:hover{
    background: linear-gradient(#98aa63,#3b6a43,#264936);.
    box-shadow: 2px 2px 2px#3A3A3A;
    height: 20px;
}

header ul li a:hover{
    color: #993423;
}

main {
    min-height: 500px;
    background: linear-gradient(rgba(152, 170, 99, 0.56), rgba(59, 106, 67, 0.55), rgba(38, 73, 54, 0.56));
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

textarea {
    min-height: 300px;
}

footer {
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f0443a,#f1563a,#f4663e,#fc7a45);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

footer p {
    text-align: center;
    color: #0086ff;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
